<app-header></app-header>
<body>
  <br>
  <div class="container-card-img">
    <mat-card class="card-img">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Nuestra primera foto</mat-card-title>
          <mat-card-subtitle>19 de octubre</mat-card-subtitle>
          <img mat-card-xl-image src="../../../assets/9.jpg"><br>
        </mat-card-title-group>
        <div class="content-izq">
          <mat-card-content>
            Esta fue nuestra primera foto juntos amor, ¿te acuerdas? En ese momento supe lo que quería contigo amor.
          </mat-card-content>
        </div>
      </mat-card-header>
    </mat-card>

    <mat-card class="card-img">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Los mas universitarios</mat-card-title>
          <mat-card-subtitle>10 de Noviembre</mat-card-subtitle>
          <img mat-card-xl-image src="../../../assets/2.jpg"><br>
        </mat-card-title-group>
        <div class="content-izq">
          <mat-card-content>
            Te acuerdas que nos pusimos de acuerdo para ponernos la playera
            de nuestros tecs para una foto jajaja, te amo
          </mat-card-content>
        </div>
      </mat-card-header>
    </mat-card>

    <mat-card class="card-img">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Nuestro viaje por Paris</mat-card-title>
          <mat-card-subtitle>18 de Noviembre</mat-card-subtitle>
          <img mat-card-xl-image src="../../../assets/3.jpg"><br>
        </mat-card-title-group>
        <div class="content-izq">
          <mat-card-content>
            Aqui fue la primera vez que te vi con peluca, te veias super hermosa
            te amo mucho amor ademas fue nuestro primer viaje jajaja
          </mat-card-content>
        </div>
      </mat-card-header>
    </mat-card>
  </div><br><br>

  <div class="container-card-img">
    <mat-card class="card-img">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Con la patrona</mat-card-title>
          <mat-card-subtitle>26 de Noviembre</mat-card-subtitle>
          <img mat-card-xl-image src="../../../assets/4.jpg"><br>
        </mat-card-title-group>
        <div class="content-izq">
          <mat-card-content>
            Con la patrona, hasta el sueño se me quita aun que este bien desvelado

          </mat-card-content>
        </div>
      </mat-card-header>
    </mat-card>

    <mat-card class="card-img">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Mi cumpleaños</mat-card-title>
          <mat-card-subtitle>18 de Diciembre</mat-card-subtitle>
          <img mat-card-xl-image src="../../../assets/5.jpg"><br>
        </mat-card-title-group>
        <div class="content-izq">
          <mat-card-content>
            Fue la primera vez que conociste a mi familia ademas de que
            me acompañaste en mi cumpleaños
          </mat-card-content>
        </div>
      </mat-card-header>
    </mat-card>

    <mat-card class="card-img">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>En la villa de Santa</mat-card-title>
          <mat-card-subtitle>4 de Diciembre</mat-card-subtitle>
          <img mat-card-xl-image src="../../../assets/6.jpg"><br>
        </mat-card-title-group>
        <div class="content-izq">
          <mat-card-content>
            Aqui fue cuando regrese de tepic y nos volvimos a ver , no sabes cuanto
            te extrañe mi amor ademas ahi andabamos en la villa de santa
          </mat-card-content>
        </div>
      </mat-card-header>
    </mat-card>
  </div><br><br>

  <div class="container-card-img">
    <mat-card class="card-img">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>El beso bajo el muerdago</mat-card-title>
          <mat-card-subtitle>4 de Diciembre</mat-card-subtitle>
          <img mat-card-xl-image src="../../../assets/7.jpg"><br>
        </mat-card-title-group>
        <div class="content-izq">
          <mat-card-content>
            Simplemente me encanta esta imagen
            Te amo
          </mat-card-content>
        </div>
      </mat-card-header>
    </mat-card>

    <mat-card class="card-img">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Mi primer tatuaje</mat-card-title>
          <mat-card-subtitle>4 de Diciembre</mat-card-subtitle>
          <img mat-card-xl-image src="../../../assets/10.jpg"><br>
        </mat-card-title-group>
        <div class="content-izq">
          <mat-card-content>
            Aqui me senti el mas cholo pero me tatue el nombre de la persona
            que mas amo en la vida
          </mat-card-content>
        </div>
      </mat-card-header>
    </mat-card>
  </div><br><br>
  <div class="container-card-img">
    <mat-card class="card-img">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Navidad</mat-card-title>
          <mat-card-subtitle>24 de Diciembre</mat-card-subtitle>
          <img mat-card-xl-image src="../../../assets/navidad.jpg" class="ima"><br>
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </div><br><br>
  <div class="container-card-img">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Pensamientos Romanticos</mat-card-title>
        <mat-card-subtitle>Sergio Rivera</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <strong>1.-El reloj</strong><br>
        El reloj miente amor, no dura lo mismo una hora contigo 
        que una hora sin ti <br>
        <strong>2.-Tu rostro</strong><br>
        Tu rostro es el reflejo de un amanecer, tu sonrisa es la
        luz del sol que se levanta  <br>, tus ojos son dos luceros en el cielo,
        tus labios son la melodia de un canto de amor <br>
        <strong>3.-La promesa</strong><br>
        Aun que todos e inclusive el mundo este en tu contra, <br>solo seremos tu y
        yo contra ellos, porque esa es la promesa que firme al besar tus labios
      </mat-card-content>

    </mat-card>
  </div><br>

</body>