.card-img {
    display: flex;
    flex-direction: row;
    width: 600px;
}

.card-img mat-card-title-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-card-img{
    display: flex;
    justify-content:space-around;
}

.ima{
    width: 560px;
    height: 300px;
    transition: background-color 0.3s ease;
}


mat-card-header{
    transition:  0.3s ease;
}
mat-card-header:hover {
     background-color: #4274af; 
    transform: scale(1.1); 
    color: white;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
body{
    animation: fadeIn 1s ease;
}
