<app-header></app-header>
<div class="container-video">
    <h1>Pensamientos bonitos para ti mi amorcito</h1>
    <section>
        <img src="../../../assets/1a.png">
        <img src="../../../assets/2a.png">
        <img src="../../../assets/3a.png">
        <img src="../../../assets/4a.png">
        <img src="../../../assets/5a.png">
        <img src="../../../assets/6a.png">
        <img src="../../../assets/7a.png">
        <img src="../../../assets/8a.png">
    </section><br><br>
    <video width="800" height="360" controls class="video">
        <source src="../../../assets/xochVideo.mp4" width="800" type="video/mp4">
    </video><br><br>
  
</div>
