<mat-toolbar class="head">
    <mat-toolbar-row>
        <span>
            Mi amorcito 
        </span>
        <div class="menu">
            <mat-icon  fontIcon="home"></mat-icon>  
            <button mat-button color="white" (click)="onHome()" >Home</button>
            <mat-icon  fontIcon="photo_camera"></mat-icon>  
            <button mat-button color="white" (click)="onImagenes()" >Fotos</button>
            <mat-icon  fontIcon="videocam"></mat-icon>  
            <button mat-button color="white" (click)="onVideo()">Video</button>
            <mat-icon  fontIcon="description"></mat-icon>  
            <button mat-button color="white" (click)="onNotes()">Notas</button>
        </div>
        <div class="settings">
            <app-toogle></app-toogle>
        </div>
    </mat-toolbar-row>
   
   