<app-header></app-header>
<div class="container-card">
    <div class="card">
        <mat-card>
            <mat-card-content>
                Hola amor en esta pagina web encontraras los mejores momentos que hemos pasado y los
                mas especiales a lo largo de nuestra relación
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="imga">
    <img src="../../../assets/log.jpg">
</div><br>
<div class="boton">
    <button mat-button color="primary" (click)="btnImagenes()">Fotos</button>
    <button mat-button color="primary" (click)="btnVideo()">Video</button>
</div>